
.box {
    border-width: medium;
    border-color: black;
    box-shadow: rgb(100, 100, 100);
    border-radius: 10px;
    margin: 15px;
}

.bodyImg {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
}

.bodytext{
background-color: rgba(179, 228, 228, 0.397);
}
  

.buttonStyle{
  color: black;
  background-color: rgb(179, 228, 228);
  border-radius: 10px;
  padding: 10px;
}

.buttonStyle:hover{
  color: aliceblue;
  background-color: rgb(194, 67, 25);
}


.grid {
   
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
  
}



.grid > div {
  flex-basis: calc(28% - 40px);
}


.box:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.rowC{display:flex;  flex-wrap: wrap; flex-direction:row;}


.fillterPosisition{
    position: "sticky"; 
}
